body{
	font-family: Futura, sans-serif;
	font-size:16px;
}

a{
	text-decoration: none;
	color: #4682B4;
}

a:hover{
	color:#00FFFF;
}

h1,h2,h3{
	margin: 10px,0px,10px, 0px;
}

#container{
	background-color: white;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#header{
	background-color: #2F4F4F;
	color: white;
	text-align: center;
	padding: 10px;
}

#content{
	padding: 10px;
}

#nav{
	color: #2F4F4F;
	width: 300px;
	float:left;
}

#nav .selected {
    font-weight: bold;
}

#nav ul{
	list-style-type: none;
	padding: 0;
}

.Home{
	font-weight: bold;
}

#main{
	width: 800px;
	float: left;
}

	background-color: #2F4F4F;
}

img{
	width: 500px;
	height:auto; 
	padding-bottom:20px;
	padding-top:20px;
}


td{
	padding-left: 10px; 
}

#footer{
	clear: both;
	margin-top: 30px;
	padding: 10px;
	background-color: #2F4F4F;
	color: white;
	text-align: right;
}